extends layout

block content
  #contents
    #main
      h3 Best3
      img(src='/images/curry.jpg')
      img(src='/images/ramen.jpg')
      img(src='/images/tonkatsu.jpg')
    #sub
      h4 profile
      p
        | welcome to the jungle, we can't stop loving you.
        | it's my life, it's now you right now.
      ul
        li
          a(href='') aaa1
        li
          a(href='') aaa2
        li
          a(href='') aaa3
