* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  vertical-align: middle;
}
img {
  max-width: 100%;
}
html {
  font-family: verdana, sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 24px;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
  line-height: 1.3333;
}
h3 {
  font-size: 24px;
  line-height: 1;
}
h4,
h5,
h6 {
  font-size: 16px;
  line-height: 1.5;
}
header {
  padding-top: 24px;
  text-align: center;
}
header h1 {
  margin-bottom: 24px;
}
header h1 img {
  height: 120px;
  width: 120px;
}
header h2 {
  color: #271607;
}
nav {
  background-color: #f1cdac;
  margin-bottom: 24px;
}
nav ul {
  overflow: hidden;
}
nav ul li {
  float: left;
  width: 25%;
}
nav ul li a {
  color: #5c3410;
  display: block;
  padding: 12px 0;
}
nav ul li a:hover {
  color: #271607;
}
nav ul li:hover {
  background-color: #e57000;
}
footer {
  background-color: #f1cdac;
  color: #5c3410;
  padding: 24px 0;
  text-align: center;
}
#contents {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
#contents p {
  margin-bottom: 24px;
  text-align: left;
}
#contents img {
  margin-bottom: 24px;
  box-shadow: 0 0 5px #2f1f1f;
  width: 100%;
}
#contents ul {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  #contents {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  #contents {
    overflow: hidden;
    text-align: left;
    width: 93.75%;
  }
  #contents #main,
  #contents #sub {
    float: left;
    margin: 0 1.0416667%;
  }
  #contents #main {
    width: 64.5833333%;
  }
  #contents #sub {
    width: 31.25%;
  }
  nav ul {
    margin: 0 auto;
    width: 93.75%;
  }
  footer {
    margin: 0 auto;
    width: 91.796875%;
  }
}
