header
  h1
    img(src='/images/logo.jpg', alt='logo ippin')
  h2 What's the best ippin!
  nav
    ul
      li
        a(href='#') Home
      li
        a(href='#') Ranking
      li
        a(href='#') Map
      li
        a(href='#') About
